@import './shared.css';

* {
    box-sizing: border-box;
}

body {
    width: clamp(40vw, 500px, 90vw);
    padding-top: 10vh;
    padding-bottom: 10vh;
    margin: auto;

    background-color: var(--v-color-backgroundA);
    color: var(--v-color-primary);
    font-family: var(--v-font-primary);
    font-size: var(--v-size-font-primary);
    line-height: 1.4;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 3rem;
}

header {
    display: flex;
    flex-direction: column;
    width: min-content;
    gap: 0; /* YOLO :P */
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
    max-width: 100%;
    word-wrap: break-word;
}

h1 {
    font-size: var(--v-size-font-largeA);
}

h2 {
    font-size: var(--v-size-font-largeB);
}

.game-container {
    display: flex;
    flex-flow: column;
    width: 100%;
    max-width: 500px;

    gap: 2rem;
}

.card-area {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;

    gap: 1rem;
    background-color: var(--v-color-backgroundB);
    border: var(--v-border-primary);
    border-radius: var(--v-radius-primary);
}

::selection {
    background-color: var(--v-color-accent);
    color: var(--v-color-accentContrast);
}
