:root {
    --v-color-backgroundA: #fdf8de;
    --v-color-backgroundB: #ffffff;
    --v-color-backgroundC: #fffef7;
    --v-color-primary: #203d1f;
    --v-color-secondary: #5e5e54;
    --v-color-accent: #203d1f;
    --v-color-accentContrast: #ffffff;

    --v-radius-primary: 8pt;
    --v-radius-secondary: 4pt;

    --v-border-primary: solid var(--v-color-primary) 1pt;
    --v-border-primaryThick: solid var(--v-color-primary) 2.5pt;
    --v-border-secondary: dashed var(--v-color-primary) 1pt;

    --v-font-primary: "Spectral", ui-serif, serif;
    --v-font-secondary: "Inclusive Sans", ui-sans-serif, sans-serif;

    --v-size-font-largeA: clamp(1rem, 5rem, 10rem);
    --v-size-font-largeB: clamp(1rem, 2rem, 5rem);
    --v-size-font-primary: 1.2rem;
}

* {
    box-sizing: border-box;
}