:root {
    --v-color-backgroundA: #ffcbaa;
    --v-color-backgroundB: #fff5ef;
    --v-color-backgroundC: #ffffff;
    --v-color-primary: #4d1e00;
    --v-color-secondary: #7a533b;
    --v-color-accent: #4d1e00;
}
