:root {
    --v-color-backgroundA: #ffcbaa;
    --v-color-backgroundB: #fff5ef;
    --v-color-backgroundC: #ffffff;
    --v-color-primary: #4d1e00;
    --v-color-secondary: #7a533b;
    --v-color-accent: #4d1e00;

    --v-radius-primary: 8pt;
    --v-radius-secondary: 4pt;

    --v-border-primary: solid var(--v-color-primary) 1pt;
    --v-border-secondary: dashed var(--v-color-primary) 1pt;

    --v-font-primary: "Spectral", ui-serif, serif;
    --v-font-secondary: "Inclusive Sans", ui-sans-serif, sans-serif;
}
